.lux-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: -110vw;
    padding-top: 40vw;
}
.lux-trips-bg {
    position: absolute;
    left: 0;
    width: 100%;
    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;
    }
    &::before{
        top: 0;
        height: 30%;
        background: linear-gradient(180deg, #E2D3CE 0%, rgba(#E2D3CE, 0) 100%);
    }
    &::after {
        bottom: 0;
        height: 30%;
        background: linear-gradient(0deg, #E2D3CE 0%, rgba(#E2D3CE, 0) 100%);
    }
    &_mobile {
        width: 100%;
        object-fit: cover;
    }
    &_desktop {
        display: none;
    }
}
.lux-trips-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    height: 100%;
    position: relative;
}
.lux-trips-inner {
    z-index: 1;
    width: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: 10.67vw;
        line-height: 100%;
        text-align: center;
        padding-bottom: 6.666vw;
    }
    &__text {
        &:nth-child(2n) {
            font-family: $secondFontMedium;
            font-size: 4.266vw;
            line-height: 179.8%;
        }
        &:nth-child(3) {
            padding: 92vw 17.333vw 8vw 6.667vw;
            font-size: 10.67vw;
        }
        &:nth-child(4) {
            padding-left: 34.666vw;
        }
        &:nth-child(5) {
            font-size: 6.933vw;
            padding: 8vw 0 8vw 34.666vw;
        }
    }
    &__button {
        width: 92vw;
        height: 16vw;
        padding: 4.5vw;
        border-radius: 26.4vw;
        border: 1px solid #0C0B10;
        font-size: 6.4vw;
        text-transform: uppercase;
        text-align: center;
    }
}
.lt-img img, picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.first-lt-img {
    width: 24.533vw;
    height: 54.666vw;
    position: absolute;
    top: 66vw;
    left: 4vw;
    img, picture {
        border-radius: 2vw;  
    }
}
.rhomb-lux-trips-first {
    position: absolute;
    top: 112.8vw;
    left: 12.2vw;
    width: 8.266vw;
}
.second-lt-img, .rhomb-lux-trips-second {
    display: none;
}
.rhomb-lux-trips-center {
    position: absolute;
    top: 80vw;
    left: 40.4vw;
    width: 19.2vw;
}
.third-lt-img {
    width: 27.2vw;
    height: 60.533vw;
    position: absolute;
    top: 102vw;
    right: 4vw;
    img, picture {
        border-radius: 2vw;  
    }
}
.rhomb-lux-trips-third {
    position: absolute;
    top: 153.8vw;
    right: 13vw;
    width: 9.173vw;
}
.fourth-lt-img {
    width: 38vw;
    height: 85.5vw;
    position: absolute;
    top: 219vw;
    left: -4vw;
    img, picture {
        border-radius: 3vw;  
    }
}
.rhomb-lux-trips-fourth {
    position: absolute;
    top: 289vw;
    left: 0;
    width: 16.32vw;
}


@media (min-width: $desktopWidth) {
    .lux-trips {
        top: -57vw;
        padding-top: 8.333vw;
    }
    .lux-trips-bg {
        height: 60.42vw;
        max-height: 1200px;
        top: 9vw;
        &_mobile {
            display: none;
        }
        &_desktop {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .lux-trips-wrapper {
        width: 77.083vw;
    }
    .lux-trips-inner {
        width: 44.444vw;
        padding: 0;
        display: grid;
        align-items: start;
        grid-template-columns: 19.791vw 24.652vw;
        grid-template-rows: 40vw 24.3vw 20.486vw 2.639vw; 
        &__title {
            font-size: 4.166vw;
            line-height: 100%;
            text-align: left;
            padding-bottom: 0;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        &__text {
            &:nth-child(2n) {
                padding-right: 6.944vw;
                font-size: 1.111vw;
                grid-column: 2/3;
                grid-row: 1/2;
            }
            &:nth-child(3) {
                padding: 0 2vw 0 0;
                font-size: 2.777vw;
                grid-column: 1/2;
                grid-row: 2/3;
            }
            &:nth-child(4) {
                padding-left: 0;
                grid-row: 2/3;
            }
            &:nth-child(5) {
                padding: 0;
                font-size: 2.777vw;
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
        &__button {
            width: 14.93vw;
            height: 2.638vw;
            padding: 0.694vw;
            border-radius: 4.2;
            font-size: 1.111vw;
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
    .first-lt-img {
        width: 6.218vw;
        height: 13.891vw;
        top: 14vw;
        left: 25vw;
        img, picture {
            border-radius: 0.4vw;  
        }
    }
    .rhomb-lux-trips-first {
        top: 25.6vw;
        left: 26.85vw;
        width: 2.5vw;
    }
    .second-lt-img {
        display: block;
        width: 5.069vw;
        height: 11.319vw;
        position: absolute;
        top: 15.6vw;
        right: 28.4vw;
        img, picture {
            border-radius: 0.5vw;  
        }
    }
    .rhomb-lux-trips-second {
        display: block;
        position: absolute;
        top: 25.2vw;
        right: 30vw;
        width: 1.712vw;
    }
    .rhomb-lux-trips-center {
        top: 15vw;
        left: 46.111vw;
        width: 7.777vw;
    }
    .third-lt-img {
        width: 10.069vw;
        height: 22.43vw;
        top: 27vw;
        right: 0;
        img, picture {
            border-radius: 0.7vw;  
        }
    }
    .rhomb-lux-trips-third {
        top: 46.2vw;
        right: 3.4vw;
        width: 3.4vw;
    }
    .fourth-lt-img {
        width: 17vw;
        height: 37.84vw;
        top: 58.6vw;
        left: 12vw;
        img, picture {
            border-radius: 0.9vw;  
        }
    }
    .rhomb-lux-trips-fourth {
        top: 90vw;
        left: 17vw;
        width: 6.844vw;
    }
}
@media (min-width: $lrDesktopWidth) {
    .lux-trips {
        top: -730px;
        padding-top: 120px;
    }
    .lux-trips-bg {
        top: 80px;
    }
    .lux-trips-inner {
        width: 640px;
        grid-template-columns: 285px 355px;
        grid-template-rows: 38vw 350px 295px 38px; 
        &__title {
            font-size: 60px;
        }
        &__text {
            &:nth-child(2n) {
                padding-right: 100px;
                font-size: 16px;
            }
            &:nth-child(3) {
                padding: 0 30px 0 0;
                font-size: 40px;
            }
            &:nth-child(5) {
                font-size: 40px;
            }
        }
        &__button {
            width: 215px;
            height: 100%;
            padding: 10px;
            border-radius: 61px;
            font-size: 16px;
        }
    }
    .first-lt-img {
        border-radius: 6px;
        top: 14.5vw;
    }
    .rhomb-lux-trips-first {
        top: 43%;
    }
    .second-lt-img {
        border-radius: 7px;
        top: 15.6vw;
    }
    .rhomb-lux-trips-second {
        top: 25.3vw
    }
    .rhomb-lux-trips-center {
        width: 112px;
        top: 18vw;
        left: calc(50% - 56px);
    }
    .third-lt-img {
        width: 145px;
        height: 323px;
        border-radius: 9px;
        top: 34vw;
    }
    .rhomb-lux-trips-third {
        top: calc(34vw + 276.26px);
        width: 49px;
    }
    .fourth-lt-img {
        width: 245px;
        height: 545px;
        border-radius: 13px;
        top: calc(38vw + 270px);
        left: 170px;
    }
    .rhomb-lux-trips-fourth {
        width: 98.56px;
        top: calc(38vw + 721px);
        left: 243px;
    }
}