.lux-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: -110vw;
    padding-top: 40vw;
}
.lux-trips-bg {
    position: absolute;
    top: 25vw;
    left: 0;
    width: 100%;
    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;
    }
    &::before{
        top: 0;
        height: 30%;
        background: linear-gradient(180deg, #E2D3CE 0%, rgba(#E2D3CE, 0) 100%);
    }
    &::after {
        bottom: 0;
        height: 30%;
        background: linear-gradient(0deg, #E2D3CE 0%, rgba(#E2D3CE, 0) 100%);
    }
    &_mobile {
        width: 100%;
        object-fit: cover;
    }
    &_desktop {
        display: none;
    }
}
.lux-trips-inner {
    z-index: 1;
    width: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: 10.67vw;
        line-height: 100%;
        text-align: center;
        padding-bottom: 6.666vw;
    }
    &__text {
        &:nth-child(2n) {
            font-family: $secondFontMedium;
            font-size: 4.266vw;
        }
        &:nth-child(3) {
            padding: 86.666vw 17.333vw 8vw 6.667vw;
            font-size: 10.67vw;
        }
        &:nth-child(4) {
            padding-left: 34.666vw;
        }
        &:nth-child(5) {
            font-size: 6.933vw;
            padding: 8vw 0 8vw 34.666vw;
        }
    }
    &__button {
        width: 92vw;
        height: 16vw;
        padding: 4.5vw;
        border-radius: 26.4vw;
        border: 1px solid #0C0B10;
        font-size: 6.4vw;
        text-transform: uppercase;
        text-align: center;
    }
}

@media (min-width: $desktopWidth) {
    .lux-trips {
        top: -57vw;
        padding-top: 8.333vw;
    }
    .lux-trips-bg {
        height: 60.42vw;
        max-height: 1200px;
        top: 0;
        &_mobile {
            display: none;
        }
        &_desktop {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .lux-trips-inner {
        width: 44.444vw;
        padding: 0;
        display: grid;
        align-items: start;
        grid-template-columns: 19.791vw 24.652vw;
        grid-template-rows: 35vw 24.3vw 20.486vw 2.639vw; 
        &__title {
            font-size: 4.166vw;
            line-height: 100%;
            text-align: left;
            padding-bottom: 0;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        &__text {
            &:nth-child(2n) {
                padding-right: 6.944vw;
                font-size: 1.111vw;
                grid-column: 2/3;
                grid-row: 1/2;
            }
            &:nth-child(3) {
                padding: 0 2vw 0 0;
                font-size: 2.777vw;
                grid-column: 1/2;
                grid-row: 2/3;
            }
            &:nth-child(4) {
                padding-left: 0;
                grid-row: 2/3;
            }
            &:nth-child(5) {
                padding: 0;
                font-size: 2.777vw;
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
        &__button {
            width: 14.93vw;
            height: 2.638vw;
            padding: 0.694vw;
            border-radius: 4.2;
            font-size: 1.111vw;
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
}
@media (min-width: $lrDesktopWidth) {
    .lux-trips {
        top: -730px;
        padding-top: 120px;
    }
    .lux-trips-inner {
        width: 640px;
        grid-template-columns: 285px 355px;
        grid-template-rows: 35vw 350px 295px 38px; 
        &__title {
            font-size: 60px;
        }
        &__text {
            &:nth-child(2n) {
                padding-right: 100px;
                font-size: 16px;
            }
            &:nth-child(3) {
                padding: 0 30px 0 0;
                font-size: 40px;
            }
            &:nth-child(5) {
                font-size: 40px;
            }
        }
        &__button {
            width: 215px;
            height: 100%;
            padding: 10px;
            border-radius: 61px;
            font-size: 16px;
        }
    }
}