extends ../layouts/without-header

block variables
  - var title = 'Lux Trips';
  - var description = 'Lux Trips';

block content
  a.link(href="https://github.com/ermakov95/LuxTrips-project") 
  header.parallax.nav-opened
    .nav.nav_opened.nav_nojs
      .logo-main(href="/index.html")
        a(href="/index.html")
          img(src="~@/img/index/logo.svg", alt="Logo Lux Trips")
      .logo-call-me
        a(href="#")
          img.logo-call-me_desktop(src="~@/img/index/big-call-me.svg", alt="Logo Lux Trips")
          img.logo-call-me_mobile(src="~@/img/index/small-call-me.svg", alt="Logo Lux Trips")
      .nav-toggle
        button.nav-toggle__button(type="button")
          div
          div
          div
      .nav-items
        .nav-items-inner
          a.nav-items__item(href="/index.html") Home
          a.nav-items__item(href="#") Luxury packages
          a.nav-items__item(href="#") Book with us
          a.nav-items__item(href="#") Why Lux Trips
          a.nav-items__item(href="#") Contact
          a.nav-items__item(href="#") Client Area
    .intro
      .first-bg.intro-bg
        picture.intro-bg-mobile
          source(media="(min-width: 641px)", srcset="~@/img/index/1-bg-mobile@910w.webp, ~@/img/index/1-bg-mobile@1820w.webp 2x", type="image/webp", alt="Первый фон", loading="lazy")
          source(media="(min-width: 641px)", srcset="~@/img/index/1-bg-mobile@910w.jpg, ~@/img/index/1-bg-mobile@1820w.jpg 2x", type="image/jpeg", alt="Первый фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/1-bg-mobile@640w.webp, ~@/img/index/1-bg-mobile@1280w.webp 2x", type="image/webp", alt="Первый фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/1-bg-mobile@640w.jpg, ~@/img/index/1-bg-mobile@1280w.jpg 2x", type="image/jpeg", alt="Первый фон", loading="lazy")
          img.intro-bg-mobile(src="~@/img/index/1-bg-mobile@910w.jpg", type="image/jpeg", alt="Первый фон", loading="lazy")
        picture.intro-bg-desktop
          source(media="(min-width: 1441px)", srcset="~@/img/index/1-bg-desktop@1920w.webp, ~@/img/index/1-bg-desktop@3840w.webp 2x", type="image/webp", alt="Первый фон", loading="lazy")
          source(media="(min-width: 1441px)", srcset="~@/img/index/1-bg-desktop@1920w.jpg, ~@/img/index/1-bg-desktop@3840w.jpg 2x", type="image/jpeg", alt="Первый фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/1-bg-desktop@1440w.webp, ~@/img/index/1-bg-desktop@2880w.webp 2x", type="image/webp", alt="Первый фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/1-bg-desktop@1440w.jpg, ~@/img/index/1-bg-desktop@2880w.jpg 2x", type="image/jpeg", alt="Первый фон", loading="lazy")
          img.intro-bg-desktop(src="~@/img/index/1-bg-desktop@1440w.jpg", type="image/jpeg", alt="Первый фон", loading="lazy")
      h1.heading-first the world’s most
      .second-bg.intro-bg
        picture.intro-bg-mobile
          source(media="(min-width: 641px)", srcset="~@/img/index/2-bg-mobile@910w.webp, ~@/img/index/2-bg-mobile@1820w.webp 2x", type="image/webp", alt="Второй фон", loading="lazy")
          source(media="(min-width: 641px)", srcset="~@/img/index/2-bg-mobile@910w.png, ~@/img/index/2-bg-mobile@1820w.png 2x", type="image/png", alt="Второй фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/2-bg-mobile@640w.webp, ~@/img/index/2-bg-mobile@1280w.webp 2x", type="image/webp", alt="Второй фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/2-bg-mobile@640w.png, ~@/img/index/2-bg-mobile@1280w.png 2x", type="image/png", alt="Второй фон", loading="lazy")
          img.intro-bg-mobile(src="~@/img/index/2-bg-mobile@910w.png", type="image/png", alt="Второй фон", loading="lazy")
        picture.intro-bg-desktop
          source(media="(min-width: 1441px)", srcset="~@/img/index/2-bg-desktop@1920w.webp, ~@/img/index/2-bg-desktop@3840w.webp 2x", type="image/webp", alt="Второй фон", loading="lazy")
          source(media="(min-width: 1441px)", srcset="~@/img/index/2-bg-desktop@1920w.png, ~@/img/index/2-bg-desktop@3840w.png 2x", type="image/png", alt="Второй фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/2-bg-desktop@1440w.webp, ~@/img/index/2-bg-desktop@2880w.webp 2x", type="image/webp", alt="Второй фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/2-bg-desktop@1440w.png, ~@/img/index/2-bg-desktop@2880w.png 2x", type="image/png", alt="Второй фон", loading="lazy")
          img.intro-bg-desktop(src="~@/img/index/2-bg-desktop@1440w.png", type="image/png", alt="Второй фон", loading="lazy")
      img.rhomb-intro-left-top(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
      h2.heading.heading-second-top extra ordinary
      .third-bg.intro-bg
        picture.intro-bg-mobile
          source(media="(min-width: 641px)", srcset="~@/img/index/3-bg-mobile@910w.webp, ~@/img/index/3-bg-mobile@1820w.webp 2x", type="image/webp", alt="Третий фон", loading="lazy")
          source(media="(min-width: 641px)", srcset="~@/img/index/3-bg-mobile@910w.png, ~@/img/index/3-bg-mobile@1820w.png 2x", type="image/png", alt="Третий фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/3-bg-mobile@640w.webp, ~@/img/index/3-bg-mobile@1280w.webp 2x", type="image/webp", alt="Третий фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/3-bg-mobile@640w.png, ~@/img/index/3-bg-mobile@1280w.png 2x", type="image/png", alt="Третий фон", loading="lazy")
          img.intro-bg-mobile(src="~@/img/index/3-bg-mobile@910w.png", type="image/png", alt="Третий фон", loading="lazy")
        picture.intro-bg-desktop
          source(media="(min-width: 1441px)", srcset="~@/img/index/3-bg-desktop@1920w.webp, ~@/img/index/3-bg-desktop@3840w.webp 2x", type="image/webp", alt="Третий фон", loading="lazy")
          source(media="(min-width: 1441px)", srcset="~@/img/index/3-bg-desktop@1920w.png, ~@/img/index/3-bg-desktop@3840w.png 2x", type="image/png", alt="Третий фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/3-bg-desktop@1440w.webp, ~@/img/index/3-bg-desktop@2880w.webp 2x", type="image/webp", alt="Третий фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/3-bg-desktop@1440w.png, ~@/img/index/3-bg-desktop@2880w.png 2x", type="image/png", alt="Третий фон", loading="lazy")
          img.intro-bg-desktop(src="~@/img/index/3-bg-desktop@1440w.png", type="image/png", alt="Третий фон", loading="lazy")
      img.rhomb-intro-right-top(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
      img.rhomb-intro-center(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
      h2.heading.heading-second-bottom places
      img.rhomb-intro-right-bottom(src="~@/img/index/Vector-intro.svg" alt="Векторный ромб", loading="lazy")
      .fourth-bg.intro-bg
        picture.intro-bg-mobile
          source(media="(min-width: 641px)", srcset="~@/img/index/4-bg-mobile@910w.webp, ~@/img/index/4-bg-mobile@1820w.webp 2x", type="image/webp", alt="Четвёртый фон", loading="lazy")
          source(media="(min-width: 641px)", srcset="~@/img/index/4-bg-mobile@910w.png, ~@/img/index/4-bg-mobile@1820w.png 2x", type="image/png", alt="Четвёртый фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/4-bg-mobile@640w.webp, ~@/img/index/4-bg-mobile@1280w.webp 2x", type="image/webp", alt="Четвёртый фон", loading="lazy")
          source(media="(max-width: 640px)", srcset="~@/img/index/4-bg-mobile@640w.png, ~@/img/index/4-bg-mobile@1280w.png 2x", type="image/png", alt="Четвёртый фон", loading="lazy")
          img.intro-bg-mobile(src="~@/img/index/4-bg-mobile@910w.png", type="image/png", alt="Четвёртый фон", loading="lazy")
        picture.intro-bg-desktop
          source(media="(min-width: 1441px)", srcset="~@/img/index/4-bg-desktop@1920w.webp, ~@/img/index/4-bg-desktop@3840w.webp 2x", type="image/webp", alt="Четвёртый фон", loading="lazy")
          source(media="(min-width: 1441px)", srcset="~@/img/index/4-bg-desktop@1920w.png, ~@/img/index/4-bg-desktop@3840w.png 2x", type="image/png", alt="Четвёртый фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/4-bg-desktop@1440w.webp, ~@/img/index/4-bg-desktop@2880w.webp 2x", type="image/webp", alt="Четвёртый фон", loading="lazy")
          source(media="(max-width: 1440px)", srcset="~@/img/index/4-bg-desktop@1440w.png, ~@/img/index/4-bg-desktop@2880w.png 2x", type="image/png", alt="Четвёртый фон", loading="lazy")
          img.intro-bg-desktop(src="~@/img/index/4-bg-desktop@1440w.png", type="image/png", alt="Четвёртый фон", loading="lazy")
      img.rhomb-intro-left-bottom(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
      .gradient
    .find-form
      img.subtract-top(src="~@/img/index/Subtract-top.svg", alt="Subtract-top")
      img.subtract(src="~@/img/index/Subtract.svg", alt="Subtract")
      h3.find-form-title find your journey
      form.forms(action="#") 
        label.form-label
          .form-title
            div
              img(src="~@/img/index/icon_destination.png", alt="Иконка", loading="lazy")
            p Destination
          input.form(type="text" name="Destination" placeholder="Where are you going?")
        label.form-label
          .form-title
            div
              img(src="~@/img/index/icon_travel.png", alt="Иконка", loading="lazy")
            p Travel type
          input.form(type="text" name="Travel type" placeholder="Adventure Travel")
        .second-forms 
          label.second-form-label
            .form-title 
              div
                img(src="~@/img/index/icon_calendar.png", alt="Иконка", loading="lazy")
              p When
            input.form(type="date" name="When" placeholder="Введите имя")
          label.second-form-label
            .form-title
              div
                img(src="~@/img/index/icon_travellers.png", alt="Иконка", loading="lazy")
              p Travellers
            input.form(type="number" name="Travellers" placeholder="2")
        button.find-button Find
  .body-inner
    .top-rated
      .top-rated-title 
        img(src="~@/img/index/Vector-top-rated.svg", alt="Иконка", loading="lazy")
        div Top Rated Experiences
      .top-rated-choice
        .choice-radio
          label.radio-form
            input.radio(type="radio" name="radio" value="trips-slide" checked)
            div World
          label.radio-form
            input.radio(type="radio" name="radio" value="africa")
            div Africa
          label.radio-form
            input.radio(type="radio" name="radio" value="asia")
            div Asia
          label.radio-form
            input.radio(type="radio" name="radio" value="europe")
            div Europe
          label.radio-form
            input.radio(type="radio" name="radio" value="north-america")
            div North America
          label.radio-form
            input.radio(type="radio" name="radio" value="south-america")
            div South America
          label.radio-form
            input.radio(type="radio" name="radio" value="antarctica")
            div Antarctica
          label.radio-form
            input.radio(type="radio" name="radio" value="australia")
            div Australia
      .trips-slider
        img.slider-button.trips-slider-back(src="~@/img/index/arrow.svg", alt="Кнопка слайдера назад", loading="lazy")
        .trips-slider-inner 
          .trips-slider-line
        img.slider-button.trips-slider-next(src="~@/img/index/arrow.svg", alt="Кнопка слайдера вперёд", loading="lazy")
    .luxury-packages
      .luxury-packages-title 
        div Luxury Packages
        a(href="#") view all
      .packages-slider
        img.slider-button.packages-slider-back(src="~@/img/index/arrow.svg", alt="Кнопка слайдера назад", loading="lazy")
        .packages-slider-inner 
          .packages-slider-line
            .packages-slide
              picture 
                source(srcset="~@/img/index/winter-dest@760w.webp, ~@/img/index/winter-dest@1520w.webp 2x", type="image/webp", alt="winter-dest", loading="lazy")
                source(srcset="~@/img/index/winter-dest@760w.jpg, ~@/img/index/winter-dest@1520w.jpg 2x", type="image/jpg", alt="winter-dest", loading="lazy")
                img(src="~@/img/index/winter-dest@760w.jpg", alt="winter-dest", loading="lazy")
              .packages-slide__title Best <br> Winter <br> Destinations
              .packages-slide__link
                img(src="~@/img/index/Vector-border.svg", alt="Векторный ромб", loading="lazy")
                img(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
                div
                  p 34
                  p places
                img(src="~@/img/index/Vector-arrow.svg", alt="Векторный ромб", loading="lazy")
            .packages-slide 
              picture 
                source(srcset="~@/img/index/extraordinary@760w.webp, ~@/img/index/extraordinary@1520w.webp 2x", type="image/webp", alt="winter-dest", loading="lazy")
                source(srcset="~@/img/index/extraordinary@760w.jpg, ~@/img/index/extraordinary@1520w.jpg 2x", type="image/jpg", alt="winter-dest", loading="lazy")
                img(src="~@/img/index/extraordinary@760w.jpg", alt="winter-dest", loading="lazy")
              .packages-slide__title The world's most <br> extraordinary <br> places
              .packages-slide__link
                img(src="~@/img/index/Vector-border.svg", alt="Векторный ромб", loading="lazy")
                img(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
                div
                  p 29
                  p places
                img(src="~@/img/index/Vector-arrow.svg", alt="Векторный ромб", loading="lazy")
            .packages-slide 
              picture 
                source(srcset="~@/img/index/new-dest@760w.webp, ~@/img/index/new-dest@1520w.webp 2x", type="image/webp", alt="winter-dest", loading="lazy")
                source(srcset="~@/img/index/new-dest@760w.jpg, ~@/img/index/new-dest@1520w.jpg 2x", type="image/jpg", alt="winter-dest", loading="lazy")
                img(src="~@/img/index/new-dest@760w.jpg", alt="winter-dest", loading="lazy")
              .packages-slide__title New <br> destinations <br> for 2022
              .packages-slide__link
                img(src="~@/img/index/Vector-border.svg", alt="Векторный ромб", loading="lazy")
                img(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
                div
                  p 47
                  p places
                img(src="~@/img/index/Vector-arrow.svg", alt="Векторный ромб", loading="lazy")
            .packages-slide 
              picture 
                source(srcset="~@/img/index/health@760w.webp, ~@/img/index/health@1520w.webp 2x", type="image/webp", alt="winter-dest", loading="lazy")
                source(srcset="~@/img/index/health@760w.jpg, ~@/img/index/health@1520w.jpg 2x", type="image/jpg", alt="winter-dest", loading="lazy")
                img(src="~@/img/index/health@760w.jpg", alt="winter-dest", loading="lazy")
              .packages-slide__title Your health <br> is matter
              .packages-slide__link
                img(src="~@/img/index/Vector-border.svg", alt="Векторный ромб", loading="lazy")
                img(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
                div
                  p 29
                  p places
                img(src="~@/img/index/Vector-arrow.svg", alt="Векторный ромб", loading="lazy")
            .packages-slide
              picture 
                source(srcset="~@/img/index/Experiences@760w.webp, ~@/img/index/Experiences@1520w.webp 2x", type="image/webp", alt="winter-dest", loading="lazy")
                source(srcset="~@/img/index/Experiences@760w.jpg, ~@/img/index/Experiences@1520w.jpg 2x", type="image/jpg", alt="winter-dest", loading="lazy")
                img(src="~@/img/index/Experiences@760w.jpg", alt="winter-dest", loading="lazy")
              .packages-slide__title Experiences <br> Away From <br> Crowd
              .packages-slide__link
                img(src="~@/img/index/Vector-border.svg", alt="Векторный ромб", loading="lazy")
                img(src="~@/img/index/Vector-intro.svg", alt="Векторный ромб", loading="lazy")
                div
                  p 168
                  p places
                img(src="~@/img/index/Vector-arrow.svg", alt="Векторный ромб", loading="lazy")
        img.slider-button.packages-slider-next(src="~@/img/index/arrow.svg", alt="Кнопка слайдера вперёд", loading="lazy")
    .lp-background
      picture.lp-bg-mobile
        source(media="(min-width: 641px)", srcset="~@/img/index/lp-bg-mobile@910w.webp, ~@/img/index/lp-bg-mobile@1820w.webp 2x", type="image/webp", alt="Пятый фон", loading="lazy")
        source(media="(min-width: 641px)", srcset="~@/img/index/lp-bg-mobile@910w.jpg, ~@/img/index/lp-bg-mobile@1820w.jpg 2x", type="image/jpg", alt="Пятый фон", loading="lazy")
        source(media="(max-width: 640px)", srcset="~@/img/index/lp-bg-mobile@640w.webp, ~@/img/index/lp-bg-mobile@1280w.webp 2x", type="image/webp", alt="Пятый фон", loading="lazy")
        source(media="(max-width: 640px)", srcset="~@/img/index/lp-bg-mobile@640w.jpg, ~@/img/index/lp-bg-mobile@1280w.jpg 2x", type="image/jpg", alt="Пятый фон", loading="lazy")
        img.lp-bg-mobile(src="~@/img/index/lp-bg-mobile@910w.jpg", type="image/jpg", alt="Пятый фон", loading="lazy")
      picture.lp-bg-desktop
        source(media="(min-width: 1441px)", srcset="~@/img/index/lp-bg-desktop@1920w.webp, ~@/img/index/lp-bg-desktop@3840w.webp 2x", type="image/webp", alt="Пятый фон", loading="lazy")
        source(media="(min-width: 1441px)", srcset="~@/img/index/lp-bg-desktop@1920w.jpg, ~@/img/index/lp-bg-desktop@3840w.jpg 2x", type="image/jpg", alt="Пятый фон", loading="lazy")
        source(media="(max-width: 1440px)", srcset="~@/img/index/lp-bg-desktop@1440w.webp, ~@/img/index/lp-bg-desktop@2880w.webp 2x", type="image/webp", alt="Пятый фон", loading="lazy")
        source(media="(max-width: 1440px)", srcset="~@/img/index/lp-bg-desktop@1440w.jpg, ~@/img/index/lp-bg-desktop@2880w.jpg 2x", type="image/jpg", alt="Пятый фон", loading="lazy")
        img.lp-bg-desktop(src="~@/img/index/lp-bg-desktop@1440w.jpg", type="image/jpg", alt="Пятый фон", loading="lazy")
