@import './utils/reset.scss';
@import './utils/fonts.scss';
@import './utils/vars.scss';

body {
    font-family: $mainFont;
    button, a, .slider-button {
        transition: all 100ms linear 0s;
        &:hover {
            cursor: pointer;
            opacity: 80%;
        }
        &:active {
            cursor: pointer;
            opacity: 60%;
        }
    }
}

@import "./modules/footer";