@font-face {
    font-family: "Forum-Regular";
    src: url(@/fonts/Forum-Regular.ttf);
}
@font-face {
    font-family: "Manrope-Light";
    src: url(@/fonts/Manrope-Light.ttf);
}
@font-face {
    font-family: "Manrope-Medium";
    src: url(@/fonts/Manrope-Medium.ttf);
}